INSERT INTO `artists` (`artist`, `beginnings`, `albums`) VALUES
('Callejeros', 1995, 5),
('La Vela Puerca', 1995, 11),
('Los Cafres', 1987, 15),
('Patricio Rey y sus Redonditos de Ricota', 1976, 10),
('Soda Estereo', 1982, 6);

INSERT INTO `songs` (`name`, `artist`, `genre`, `album`, `year`) VALUES
('De atar', 'La Vela Puerca', 'Rock', 'A contraluz', 2004),
('De música ligera', 'Soda Estereo', 'Rock', 'Canción Animal', 1990),
('En el limbo', 'La Vela Puerca', 'Rock ', 'A contraluz', 2004),
('En Remolinos', 'Soda Estereo', 'Rock', 'Dynamo', 2144124),
('Un Poco de Amor Francés', 'Patricio Rey y sus Redonditos de Ricota', 'Rock', 'La Mosca y la Sopa', 1991),
('Va a escampar', 'La Vela Puerca', 'Rock', 'A contraluz', 2004);


